<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href={{ "css/styles.css" | absURL }}> -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="container">
                <div id="data-logo-v" >
                    <a class="nav-link" data-toggle="tab" href="#">
                        <img src="../static/css/img/datadog-logo-v.png">
                    </a>
                </div>
                <div id="menu-items">
                    <a class="nav-link font-weight-bold" id="product-tab" data-toggle="tab" href="#" role="tab">PRODUCT</a>
                    <a class="nav-link font-weight-bold" id="docs-tab" data-toggle="tab" href="#" role="tab">DOCS</a>
                    <a class="nav-link font-weight-bold" id="pricing-tab" data-toggle="tab" href="#" role="tab">PRICING</a>
                    <a class="nav-link font-weight-bold" id="customers-tab" data-toggle="tab" href="#" role="tab">CUSTOMERS</a>
                    <a class="nav-link font-weight-bold" id="about-tab" data-toggle="tab" href="#" role="tab">ABOUT</a>
                    <a class="nav-link font-weight-bold" id="blog-tab" data-toggle="tab" href="#" role="tab">BLOG</a>
                    <a class="nav-link" id="login-tab" data-toggle="tab" href="#" role="tab">Login</a>
                </div>
        </div>
    </nav>
    <div>
        <div class="container">
            <h1 class="header font-weight-bold">Modern monitoring & analytics</h1>
            <h3 class="subhead">See inside any stack, any app, at any scale, anywhere.</h3>
            <div class="main-cta">
                <button class="button-container btn-lg"><h4 class="btfree">TRY FREE</h4></button>
            </div>
            
        </div>
        <div class="container pricing pricing-bg d-flex">
                <div class="pricing-infra">
                    <h6>INFRASTRUCTURE</h6>
                    <p>Starting at</p>
                    <h1>$15</h1>
                    <p class="text-sm-left">Per host, per month*</p>
                    <p>Centralize your monitoring of systems and services</p>
                    <ul>
                        <li>250+ integrations</li>
                        <li>Out-of-the-box dashboards</li>
                        <li>15 month metric retention</li>
                    </ul>
                    <p>See Details</p>
                </div>

                <hr class="pricing-divider">
                
                <div class="pricing-apm">
                    <h6>APM</h6>
                    <p>Starting at</p>
                    <h1>$31</h1>
                    <p class="text-sm-left">Per host, per month*</p>
                    <p>Centralize your monitoring of systems and services</p>
                    <ul>
                        <li>Java, Ruby, Python, GO, Node, and more</li>
                        <li>Out-of-the-box application health dashboards</li>
                        <li>1 million trace events per host included</li>
                    </ul>
                    <p>See Details</p>
                </div>
                
                <hr class="pricing-divider-two">
                
                <div class="pricing-logs">
                    <h6>LOGS MANAGEMENT</h6>
                    <p>Starting at</p>
                    <h1>$1.27</h1>
                    <p class="text-sm-left">Per host, per month*</p>
                    <p>Analyze and explore log data in context</p>
                    <ul>
                        <li>Collect from any source</li>
                        <li>Automated & custom processing</li>
                        <li>Fully integrated with infrastructure and APM</li>
                    </ul>
                    <p>See Details</p>
                </div>
        </div>
    </div>
    <div class="container">
        <div class="card feature-apm">
            <img class="apm-bg card-img" src="../static/css/img/apm-bg.png" alt="Card image">
            <div class="apm-text card-img-overlay">
              <h6 class="apm-ttl card-text">APM</h6>
              <h3 class="apm-ttl-par card-text">Get full visibility into modern applications</h3>
            </div>
        </div>
        <div class="card feature-infra">
            <img class="infra-bg card-img" src="../static/css/img/infra-bg.png" alt="Card image">
            <div class="infra-text card-img-overlay">
              <h6 class="infra-ttl card-text">INFRASTRUCTURE</h6>
              <h3 class="infra-ttl-par card-text">See across systems, apps, and services</h3>
            </div>
        </div>
        <div class="card feature-logs">
            <img class="logs-bg card-img" src="../static/css/img/logs-bg.png" alt="Card image">
            <div class="logs-text card-img-overlay">
              <h6 class="logs-ttl card-text">LOGS MANAGEMENT</h6>
              <h3 class="logs-ttl-par card-text">Analyze and explore log data in context</h3>
            </div>
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div>
                <h6 class="observ-h6">OBSERVABILITY</h6>
                <h3 class="observ-h3">With turn-key integrations, Datadog seamlessly aggregates metrics and events across the full devops stack</h3>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon observ-arr" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <a class="observ-armr">Read More</a>
            </div>
            <div class="carousel-inner observ-carou">
              <div class="carousel-item active">
                <img class="d-block" src="../static/css/img/home-observability.png" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block" src="../static/css/img/infra-bg.png" alt="Second slide">
              </div>
            </div>
          </div>
    </div>

    <div class="container customers">
        <div class="row airbnb">

        </div>
        <div class="row peloton">

        </div>
        <div class="col adroll">

        </div>
        <div class="col evernote">

        </div>     
        <div class="col samsung">

        </div>
        <div class="col nginx">

        </div>
        <div class="col pagerduty">

        </div>
        <div class="col wholefoods">

        </div>
        <div class="col att">

        </div>  
    </div>

    <footer>
    </footer>
</body>
</html>